/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2013, PM
    Author     : whaverhals
*/

/*******************************************************************************
 * The following CSS Rules will change the way Tab Controls look
********************************************************************************/
/* Tab Table Properties */
.tab-content {
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
}

/* Tab Title Properties */
.tab-header { 
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    color: #003F71;
    text-decoration: none;
}

/* Tab Help Properties */
.tab-help { 
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: #5F5F5F;
    text-decoration: none;
}

/*******************************************************************************
 * The following CSS Rules will change the way Group Grid Controls look
********************************************************************************/
/* Group Table Properties */
.group-content {
    margin: 2px 2px;
}
.group-inner {
    background-color:rgba(239,239,239,0.54);
    border-color: #000000;
    border-width: 0px;
    border-style: none;
}

#group-5872383 div.group-inner, #group-5873013 div.group-inner {
    background-color: #ffffff;		
}

/*******************************************************************************
 * Following the behavior of Attribute containers
********************************************************************************/
/* Attribute Label Properties */
.attribute-label {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    font-style: normal;
    color: #003F71;
    text-decoration: none; 
}

/* Required Attribute Label Properties */
.required .attribute-label {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
	color: #003F71;
    font-style: normal;
    text-decoration: none;
    border-left-color: #003F71;
}

/* Constraint Message Properties */
.constraint-message, .tab-constraint {
    background: url("../../image/images/red-arrow.png") no-repeat scroll left center transparent;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    line-height: 11pt;
    margin-left: 0;
    padding-left: 10px !important;
    color:red;
}
/* From Raven */
.attribute-inner .constraint-message {
    background: url("../../image/images/red-arrow.png") no-repeat scroll left center transparent;
    color: red;
    line-height: 11pt;
    background-color:lightgoldenrodyellow;
    border-left: 3px solid red;
}

/* Recommendation Message Properties */
.recommendation-message {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border-left-color: #0000FF;
}

.attribute-inner .recommendation-message {
    color: #0000FF;
}

/* Previous Value Message Properties */
.prev-message {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border-left-color: #006699;
}

.attribute-inner .prev-message {
    color: #006699;
}
/********** ADDITIONAL CSS RULES APPLIED LATER HERE **********/

/* Start Group Table Properties */
.group-table {
	background-color: #FFFFFF;
	border-color: #000000;
	border-width: 0px;
	border-style: none;
}
/* End Group Table Properties */

/* Start Group Title Properties */
.group-title {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}
/* End Group Title Properties */

/* Group Styling - Start */

/* Dont display model Config Label at top */
#config-header {
	display: none;
}

/* Group Icon placement */
img.group-icon {
	margin-top:-5px;
	margin-left:-8px;
}

/*
#group-5872722 h3.group-header span img.group-icon {
	margin-top:-15px;
}
*/
.group-header span {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 35px;
    padding-left: 10px;
    color: #ffffff;
    vertical-align:middle !important;
}

.group-header {
    background: none repeat scroll 0 0 #000000;
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.2) 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00,  rgba(255, 255, 255, 0.45)), color-stop(1.00, rgba(255, 255, 255, 0.2)));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=rgba(255, 255, 255, 0.45), endColorstr=rgba(255, 255, 255, 0.2), GradientType=1);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15) !important;
    position: relative;
}

/*
#group-5872383 h3.group-header, #group-5873013 h3.group-header {
	background: none !important;
	background-image:none !important;
	box-shadow:none !important;	
}
*/
.group-content {
	border-left: thin solid #c7c7c7;
	border-right: thin solid #c7c7c7;
	border-bottom: thin solid #c7c7c7;
}

/******** BUTTONS and BUTTON BAR - START *********/
/*create quote button aligned to the right*/

/*create quote button to orange  and buttons bigger*/
.button-invoke-create td.button-middle, .button-invoke-add td.button-middle {
    background-attachment: scroll;
    background-clip: border-box;
    background: url("../../image/images/buttons-on.png") repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15) !important;
}
td.button-middle {
    background-color: #000000;
    border-color: #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    padding: 0 0 5px;
}

td.button-middle {
    background-color: #000000;
    border-color: #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    padding: 7px 0 0 5px;
}

td.button-middle {
    background: url("../../image/images/buttons.png") 
}

td.button-middle, .plain-button td.button-middle {
    border: 1px solid #C7C7C7 !important;
}


.button-text, .button-text:link, a.button-text:visited:hover, a.button-text:hover {
    font-size: 10pt;

}

/*IF IE8 for Savvis - january 17, 2012 changes to buttons */
.button-text {top:3px\0/;
 }

.button-left, .plain-button .button-left {
	display:table-cell\0/;
    background: url("../../image/images/buttons-left.png") 5px 6px\0/ !important;
	background-repeat: no-repeat\0/ !important;
	width: 8px\0/;

}
.button-right, .plain-button .button-right {
	display:table-cell\0/;
    background: url("../../image/images/buttons-right.png") 0px 6px\0/ !important; 
	background-repeat: no-repeat\0/ !important; 
	width: 4px\0/;

}
td.button-middle, .plain-button td.button-middle {
    background: url("../../image/images/button3.png") 0px 6px repeat-x\0/;
    border: none\0/ !important;
    border-radius: 0px\0/ 0px\0/ 0px\0/ 0px\0/;
    padding: 7px\0/ 0\0/ 0\0/ 5px\0/;
	height: 28px\0/;
}
/*create quote button to orange  and buttons bigger*/
.button-invoke-create td.button-middle, .button-invoke-add td.button-middle {
    background-attachment: scroll;
    background-clip: border-box;
    background: url("../../image/images/quote-button.png") repeat-x 0px 6px\0/ !important;

}

.button-invoke-create .button-left, .button-invoke-add .button-left {
    background-attachment: scroll;
    background-clip: border-box;
    background: url("../../image/images/quote-button-left.png") no-repeat 5px 6px\0/ !important;

}
.button-invoke-create .button-right, .button-invoke-add .button-right {
    background-attachment: scroll;
    background-clip: border-box;
    background: url("../../image/images/quote-button-right.png") no-repeat 0px 6px\0/ !important;

}

/* WJH */
#sticky-actions table {
    margin-right: 20px !important;
}

/*
#sticky-actions table {margin-top:-5px\0/ !important; margin-right: -7px\0/ !important; }
*/

/*END - IF IE8 for Savvis - january 17, 2012 changes to buttons */



/*Sticky action bar*/

#sticky-actions .floating, #sticky-actions .fixed {
	text-align: right !important;
}

#sticky-actions .grand-total-container{
	font-size:18px !important;
	padding: 8px 0px 8px 13px;	
}

#sticky-actions .floating{
	left: inherit !important;	
}



/******** BUTTONS and BUTTON BAR - END *********/