div#config-section{
 margin-top:5px;   
}

div[class="bm-actionstrip floating"]{
     background-color:#333333 !important;   
}
div[class="bm-actionstrip fixed"]{
     background-color:#333333;
     border-style:solid;
     border-color: #111111;
     border-width:1px;  
     border-radius:3px; 
}
div.grand-total-container{
    padding-left:5px !important;
    color:white;
}
span.grand-total-price{
    padding-left:5px;
    font-size:10pt;
    font-weight:bold !important;
    color: #84cd7c;
    }

div.group-content{
     border-style:solid;
     border-width:1px;
     border-top-left-radius:5px;   
     border-top-right-radius:5px;
	 border-color:#999;

}

/* Start Group Title Properties */
.group-title {
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #E2001A;
	text-decoration: none;
}
/* End Group Title Properties */
   
h3.group-header{
    background:#bbbbbb;
    margin-top:0px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-style:none;
    background-image: url('https://demo-build.bigmachines.com/img/config/header-background.png');
    background-repeat:repeat-x;
    background-size:contain;
}
.view-header{
	background-color:#bbb;
}
#invTable{
	border-collapse:collapse;
	width:100%
}
#invTable td {
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:1px;
    border-style:solid;
    border-left-style:none;
    border-right-style:none;
    border-width:1px;
	border-color:#999;
}
#invTable tr:last-child td{
 border-style:none;   
}         
#invTable th{
     color:#003F71;
     padding-bottom:1px;
     padding-left:2px;
     padding-right:2px;
     font-size:120% 
}
#server-help, 
#processor-help, 
#hardDrive-help, 
#oSLicenses-help,
#firewall-help,
#databasePlatform-help{
    max-width:80%;
    max-height:450px;
}  

div#attribute-hardDriveInventory  div:first-child{
    padding:0;
    margin:0;
} 
#powerUsagekVA-help,

#location-help{
    max-width:80%;
    max-height:700px;
	z-index: 9999999;
    }
	
/* Help pop up settings*/
.help-popup{
	max-width: 2500px;
	max-height: 600px;
}
